{
  "extends": ["stylelint-config-standard", "stylelint-config-html/vue"],
  "plugins": ["stylelint-order"],
  "overrides": [
    {
      "files": [".vitepress/**/*.{htm,html,vue}"],
      "customSyntax": "postcss-html"
    },
    {
      "files": [".vitepress/**/*.{css,less}"],
      "customSyntax": "postcss-less"
    }
  ],
  "ignoreFiles": [
    "**/*.js",
    "**/*.ts",
    "**/*.md",
    "**/*.jsx",
    "**/*.tsx",
    "**/*.json",
    "**/node_modules/**",
    "**/.vitepress/dist/**",
    "**/.vitepress/cache/**"
  ],
  "rules": {
    "color-hex-length": "long",
    "media-feature-range-notation": "prefix",
    "order/properties-order": [
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "display",
      "flex",
      "flex-shrink",
      "align-items",
      "justify-content",
      "gap",
      "float",
      "content",
      "clear",
      "overflow",
      "overflow-x",
      "overflow-y",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "font-size",
      "font-family",
      "font-weight",
      "font-feature-settings",
      "font-variation-settings",
      "line-height",
      "text-align",
      "text-justify",
      "text-indent",
      "text-overflow",
      "text-decoration",
      "text-size-adjust",
      "white-space",
      "background",
      "background-position",
      "background-repeat",
      "background-size",
      "background-color",
      "background-clip",
      "color",
      "border",
      "border-style",
      "border-width",
      "border-color",
      "border-top-style",
      "border-top-width",
      "border-top-color",
      "border-right-style",
      "border-right-width",
      "border-right-color",
      "border-bottom-style",
      "border-bottom-width",
      "border-bottom-color",
      "border-left-style",
      "border-left-width",
      "border-left-color",
      "border-radius",
      "opacity",
      "filter",
      "list-style",
      "word-break",
      "white-space",
      "text-overflow",
      "outline",
      "visibility",
      "tab-size",
      "box-shadow",
      "text-shadow",
      "text-decoration",
      "resize",
      "transition"
    ]
  }
}
